.spinner {
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash 1.4s ease-in-out infinite,
    colors 5.6s ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

/* Range Slider */
.range-slider {
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}

.range-slider__range::-webkit-slider-thumb {
  @apply bg-white;
  position: relative;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  /* background: #2c3e50; */
  cursor: pointer;
  transition: background 0.15s ease-in-out;
  z-index: 1;
}

.range-slider__range::-webkit-slider-thumb:hover {
  @apply bg-active;
}

.range-slider__range:active::-webkit-slider-thumb {
  @apply bg-active;
}

/* .range-slider__range:focus::-webkit-slider-thumb {
  box-shadow:
    0 0 0 2px #fff,
    0 0 0 4px #1abc9c;
} */
